* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  height: 100%;
}

html {
  padding: 0;
}

body {
  background: $primary;
  padding: $padding;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input.hidden {
  visibility: hidden;
  position: absolute;
}

*:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: none;
}

* {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}