@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Open+Sans+Condensed:300,300italic,700);

body {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 20px;
}

a {
  color: $yellow;
}

h3 {
  font-size: 18px;
}

h2 {
  font-family: 'Open Sans Condensed';
  font-size: 24px;
  font-weight: 300;

}
