[data-animation="instance-create_TO_login"] {
  .login-form-wrapper {
    .form-items {
      opacity: 0;
      max-height: 228px;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      color: $primary;

      &:hover {
        color: darken($primary, 12);
      }
    }
  }

  .instance-create-form-wrapper {
    .form-items {
      opacity: 0;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      color: $primary;

      &:hover {
        color: darken($primary, 12);
      }
    }
  }
}