[data-animation="instance-create_TO_login"] {
  .instance-create-form-wrapper {
    .form-items {
      opacity: 0;
      max-height: 228px;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }

  .login-form-wrapper {
    .form-items {
      opacity: 0;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }
}