[data-animation="login_TO_tables"] {
  .login-form {
    padding: 0;
    transition: padding $speed $easing;
  }

  .form-actions {
    margin: 0;
    transition: margin $speed $easing;


    &:after {
      transition: opacity $speed $easing;
      opacity: 0;
    }
  }

  .button {
    width: 90px;
    margin: 0 auto;
    display: block;
    float: none;
    transition: all $speed $easing;
    border-radius: 50%;
    background-color: $secondary;
  }

  .login-form {
    box-shadow: 0 0 0 0 rgba($secondary, 0);
  }

  .login-form-wrapper {
    .form-items {
      opacity: 0;
      overflow: hidden;
      max-height: 0;
    }

    .form-actions {
      transition: all $speed $easing;
      background-color: $primary;
    }

    .link,
    .page-title {
      max-height: 0;
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }
}