[data-animation="login_TO_password-reset"] {
  .login-form-wrapper {
    .form-items {
      transition: max-height $speed $easing $speed, opacity $speed $easing $speed;
      opacity: 0;
      max-height: 156px;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }

  .password-reset-form-wrapper {
    .form-items {
      opacity: 0;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }
}