[data-animation="login_TO_instance-create"] {
  .login-form-wrapper {
    .form-items {
      transition: max-height $speed $easing $speed, opacity $speed $easing ($speed  /2);
      opacity: 0;
      max-height: 129px;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }

  .instance-create-form-wrapper {
    .form-items {
      opacity: 0;
    }

    .link,
    .page-title {
      opacity: 0;
    }

    .button {
      .success-icon,
      .button-text {
        opacity: 0;
      }
    }
  }
}