<template name="instanceCreate">

    <form id="instance-create-form" class="instance-create-form">

        <div class="form-item">
            <input type="text" name="instance-name" placeholder="Name">
        </div>

        <div class="form-item">
            <input type="text" name="instance-url" placeholder="Taiga instance API URL">
        </div>

        <div class="form-item">
            <button class="button primary arrow-right block">Save <span class="arrow"></span></button>
        </div>

    </form>

</template>
