<template name="instanceCreate">
    <div class="instance-create-form-wrapper">

        <h1 class="page-title">Add a Taiga instance.</h1>

        <form id="instance-create-form" class="instance-create-form">

            <div class="form-items">
                <div class="form-item">
                    <input type="text" id="edit-instance-name" name="instance-name" required>
                    <label for="edit-instance-name" class="label-above">Name</label>
                </div>

                <div class="form-item">
                    <input type="text" id="edit-instance-url" name="instance-url" required>
                    <label for="edit-instance-url" class="label-above">API URL</label>
                </div>
            </div>

            <div class="form-actions">
                <button class="button primary arrow-right block"><span class="button-text">Save instance</span><div class="success-icon"></div></button>

                <div class="link">
                    <em class="or-divider">or</em>
                    <a href="{{pathFor route='login'}}">cancel</a>
                </div>
            </div>

        </form>

    </div>
</template>
