<template name="instanceCreate">
    <div class="instance-create-form-wrapper">

        <h1 class="page-title">Add a Taiga instance.</h1>

        <form id="instance-create-form" class="instance-create-form" novalidate>

            <div class="form-item">
                <input type="text" id="edit-instance-name" name="instance-name" required>
                <label for="edit-instance-name" class="label-above">Name</label>
            </div>

            <div class="form-item">
                <input type="text" id="edit-instance-url" name="instance-url" required>
                <label for="edit-instance-url" class="label-above">API URL</label>
            </div>

            <div class="form-actions">
                <button class="button primary arrow-right block">Save instance</button>

                <div class="link">
                    <em class="or-divider">or</em>
                    <a href="/">cancel</a>
                </div>
            </div>

        </form>

    </div>
</template>
