<template name="roomsCreate">
    <form id="rooms-create">

        <div class="form-item">
            <input type="text" name="name" placeholder="Name">
        </div>

        <div class="form-item radios-as-select less-visually-important">
            <div class="form-item-inner">
                {{#each projects}}
                    <div class="radio-option">
                        <input type="radio" name="project" value="{{ id }}" id="project-{{ id }}" {{ first(@index) }}>
                        <label class="label" for="project-{{ id }}">{{ name }}</label>
                    </div>
                {{/each}}
            </div>
        </div>

        <div class="form-item">
            <a href="#" class="button primary arrow-right block">Create room <span class="arrow"></span></a>
            <input type="submit" class="hidden">
        </div>

    </form>
</template>
