<template name="tablesCreate">
    <form id="tables-create" class="responsive-form-wizard">

        <div class="form-group {{ groupClasses 'name' }}">
            <h3 class="group-header">Choose a name</h3>
            <div class="form-item">
                <input type="text" name="name" placeholder="Name" value="{{ formState 'tables-create' 'name' }}">
            </div>
        </div>

        <div class="form-group {{ groupClasses 'project' }}">
            <h3 class="group-header">Pick a project</h3>

            {{#if formState 'tables-create' 'name' }}
                <div class="form-item">
                    {{#each projects}}
                    <div class="radio-option">
                        <input type="radio" name="project" value="{{ id }}" id="project-{{ id }}" checked="{{ formState 'tables-create' 'project' id }}">
                        <label class="label" for="project-{{ id }}">{{ name }}</label>
                    </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>

        <div class="form-group {{ groupClasses 'players' }}">
            <h3 class="group-header">Select players</h3>

            {{#if formState 'tables-create' 'project' }}
            <div class="form-item">
                {{#each members}}
                <div class="checkbox-option">
                    <input type="checkbox" name="players" value="{{ id }}" id="players-{{ id }}" checked="{{ formState 'tables-create' 'players' id }}">
                    <label class="label" for="players-{{ id }}"><span class="full-name">{{ full_name_display }}</span><img src="{{ photo }}"></label>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>

        <div class="form-group {{ groupClasses 'issues' }}">
            <h3 class="group-header">Select issues</h3>

            {{#if formState 'tables-create' 'players' }}
                {{#each userstories}}
                <div class="checkbox-option">
                    <input type="checkbox" name="userstories" value="{{ id }}" id="userstories-{{ id }}" checked="{{ formState 'tables-create' 'userstories' id }}">
                    <label class="label" for="userstories-{{ id }}"><span class="story-description">{{ subject }}</span></label>
                </div>
                {{/each}}
            {{/if}}
        </div>

        <div class="form-actions">
            <a href="#" class="button primary arrow-right block">Create table <span class="arrow"></span></a>
            <input type="submit" class="hidden">
        </div>
    </form>
</template>
