.button {
  padding: 20px $padding;
  color: $white;
  text-decoration: none;
  background-color: $primary;
  cursor: pointer;
  border: 0;
  text-transform: lowercase;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 1.2px;
  transition: background $speed $easing, color $speed $easing;
  clear: both;

  & + & {
    margin-top: $padding;
  }

  &.block {
    width: 100%;
  }

  .button-text {
    opacity: 1;
    transition: opacity $speed $easing forward;
  }

  &.success {
    .success-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center center;
      animation: success 1s;
      animation-fill-mode: forwards;
    }

    .button-text {
      opacity: 0;
    }
  }
}

body:not([data-animation]) {
  .button:not(.success):hover {
    background: darken($primary, 12);
  }
}

.or-divider {
  color: $white;
  display: inline-block;
}

@keyframes success {
  0%   { opacity: 0; transform: scale(1); }
  50%  { opacity: 1; transform: scale(1.3); }
  80%  { opacity: 1; }
  100% { opacity: 0; transform: scale(1); }
}

.success-icon {
  opacity: 0;
  transition: opacity $speed $easing;

  &:before {
    content: '';
    display: block;
    height: 20px;
    width: 10px;
    background: $success;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-40deg) translate(-13px, -5px);
  }

  &:after {
    content: '';
    display: block;
    height: 10px;
    width: 60px;
    background: $success;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-40deg) translate(12px, 8px);
  }
}