.button {
  padding: 20px $padding;
  color: $white;
  text-decoration: none;
  background-color: $primary;
  cursor: pointer;
  border: 0;
  text-transform: lowercase;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
  line-height: 50px;
  font-size: 30px;
  letter-spacing: 1.2px;
  transition: background $speed $easing;
  clear: both;

  & + & {
    margin-top: $padding;
  }

  &.block {
    width: 100%;
  }

  &:hover {
    background: darken($primary, 12);
  }
}

.or-divider {
  color: $white;
  display: inline-block;
}