.card {
  border-radius: 3px;
  border: 1px dashed #ccc;
  width: 300px;
  max-width: calc(100vw - 40px);
  float: left;
  clear: both;
  position: relative;
  margin: 10px;
  box-shadow: 0 2px 10px -3px rgba(black, 0);
  cursor: pointer;
  transition: transform $speed $easing, box-shadow $speed $easing, border $speed $easing;
  transform: translateY(0);
  background-color: white;

  &:after {
    content: '';
    display: block;
    padding-bottom: 136%;
    width: 100%;
  }

  .number {
    position: absolute;
    font-size: 150px;
    font-family: 'Parisienne', cursive;
    left: 50%;
    top: 50%;
    opacity: 1;
    transition: opacity $speed $easing;
    transform: translate(-50%, -50%);
  }

  &.hidden-numbers {
    .number {
      opacity: 0;
    }
  }

  &.chosen {
    border: 1px solid black;
    transform: translateY(-40px);
    box-shadow: 0 3px 13px 0 #aaa;
  }
}