.login-form {
  .logo {
    padding-bottom: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .scheme, .port {
    max-width: 0;
    display: inline-block;
    transition: max-width $speed $easing;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -4px;
  }

  .label-inner {
    vertical-align: middle;
    margin-top: -4px;
  }

  .radios-as-select:hover {
    .scheme, .port {
      max-width: 200px;
    }
  }
}