.radios-as-select {
  position: relative;
  height: 84px;
  z-index: 1;

  .form-item-inner {
    max-height: 57px;
    transition: max-height $speed $easing, border $speed $easing;
    overflow: hidden;
    margin-bottom: $padding;
    border: 2px solid $grey-light;
  }

  // Triangle.
  &:before {
    display: block;
    transition: opacity $speed $easing;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: $padding + 31px;
    right: 38px;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent $grey-light transparent;
    pointer-events: none;
    z-index: 2;
  }

  // Triangle.
  &:after {
    transition: opacity $speed $easing;
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: $padding + 42px;
    right: 38px;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: $grey-light transparent transparent transparent;
    pointer-events: none;
    z-index: 2;
  }
  
  input[type="radio"] {
    position: absolute;
    float: left;
    height: 1px;
    visibility: hidden;
    width: 1px;
  }

  .label {
    white-space: nowrap;
    padding-left: $padding;
    padding-right: $padding + 30px;
    display: block;
    transition: max-height $speed $easing, padding $speed $easing, box-shadow $speed $easing, background-color $speed $easing, color ($speed / 2) $easing;
    overflow: hidden;
    cursor: pointer;
    background-color: $white;
    float: left;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    width: 100%;
  }

  &:not(.just-clicked) .label:hover {
    background-color: $primary;
  }

  .instance-name {
    text-overflow: ellipsis;
    transition: max-width $speed $easing;
    max-width: calc(100% - 24px);
    overflow: hidden;
  }

  input + .label {
    max-height: 0;
  }

  &:not(.just-clicked).hover input + .label,
  &:not(.just-clicked):hover input + .label,
  input:checked + .label {
    max-height: 54px;
    padding-top: 11px;
    padding-bottom: 12px;
    z-index: 1;
    color: $grey-middle;
  }

  &:not(.just-clicked).hover,
  &:not(.just-clicked):hover {
    .label-above {
      color: $black;
    }

    &:after, &:before {
      opacity: 0;
    }

    .form-item-inner {
      max-height: 600px;
      border-color: $black;
    }

    .instance-name {
      max-width: calc(100% - 60px);
    }

    .label:hover {
      color: $black;
    }
  }

  input:checked + .label {
    color: $black;
  }

  &.used {
    .label-above {
      color: $primary;
    }

    .form-item-inner {
      border-color: $primary !important;
    }

    &:before {
      border-color: transparent transparent $primary transparent;
    }

    &:after {
      border-color: $primary transparent transparent transparent;
    }
  }
}