.responsive-form-wizard {
  .form-group {
    margin: 0 20px;
    padding: 20px;
    position: relative;
    overflow-y: hidden;
    float: left;
    clear: both;

    @for $i from 0 through 8 {
      &:nth-of-type(#{$i + 1}) {
        height: calc(100vh - 88px - (35px * #{$i}));
      }
    }
  }

  .group-header {
    margin: 0;
    cursor: pointer;
    padding: 10px 20px;
    float: left;
    clear: both;
    width: 100%;
    //transition: all $speed $easing;
    position: relative;
    z-index: 2;
    background: gray;
    box-shadow: 0 0 5px black;
    color: white;
    transform: translateY(0);

    &.allowed {
      background: green;
    }

    &.sticky {
      position: fixed;
      top: 0;

      @for $i from 0 through 8 {
        &:nth-of-type(#{$i + 1}) {
          transform: translateY(35px * $i);
        }
      }
    }

    &.sticky + * {
      margin-top: 44px;
    }
  }

  .form-actions {

  }
}