.responsive-form-wizard {
  .form-group {
    //max-height: 60px;
    transition: max-height $speed $easing;
    overflow: hidden;

    &.active {
      height: 100vh;
      max-height: 100vh;
    }
  }

  .form-actions {

  }
}