.room-play {
  overflow: hidden;
  text-align: center;
  @include clearfix;
  height: 100vh;
  width: 100vw;
  font-size: 0;

  .dragdealer {
    position: relative;
    height: 100%;
    width: 280px;
    display: inline-block;
  }

  .dragdealer .handle {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    @for $i from 1 through 30 {
      &[data-count="#{$i}"] {
        width: 100% * $i;
      }
    }
  }

  .card.active {
    transform: translateY(-30px);
    box-shadow: 0 3px 13px 0 #aaa, inset 0 0 0 5px blue;
  }
}