$white: #fff;
$black: #222b00;
$black-real: black;
$grey-dark: #5a5a5a;
$grey-light: #cccccc;
$grey-white: #f6f6f6;
$grey-middle: #818181;

$green-dark: #217821;
$green-light: #44aa00;

$yellow: #ffcc00;
$yellow-lighter: #ffd62f;
$sand: #ffeea8;
$yellow-light: #fff3c2;