

$white: #fff;
$black: #000;
$grey-dark: #5a5a5a;
$grey-light: #cccccc;
$grey-white: #f6f6f6;
$grey-middle: #818181;
$yellow: #fec81c;
$yellow-light: rgba(255, 177, 0, 0.7);
$yellow-dark: rgba(189, 141, 0, 0.7);
