<template name="login">

  <div class="login-form-wrapper">

    <h1 class="page-title">Scrumpoker.</h1>

    <form id="login-form" class="login-form" novalidate="true">
      {{#if errorMessage }}
      <p>{{ errorMessage }}</p>
      {{/if}}

      <div class="form-item">
        <div class="label-above">Username or email</div>
        <input type="text" name="name" required>
      </div>

      <div class="form-item">
        <div class="label-above">Password</div>
        <input type="password" name="password" required>
      </div>

      <div class="form-item radios-as-select">
        <div class="form-item-inner">
          {{#each instances}}
          <div class="radio-option">
            <input type="radio" name="taiga-url" value="{{ url }}" id="taiga-url-{{ _id }}" {{ first(@index) }}>
            <label class="label" for="taiga-url-{{ _id }}"><img class="favicon" src="{{ favIcon }}"><span class="instance-name">{{ name }}</span>
              {{#unless compare url 'https://api.taiga.io/api/v1' }}<a class="delete-taiga-instance" href="#">Delete taiga instance</a>{{/unless}}
            </label>
          </div>
          {{/each}}

          <div class="radio-option">
            {{#if instances }}
              <input type="radio" name="taiga-url" value="create" id="taiga-url-create">
            {{ else }}
              <input type="radio" name="taiga-url" value="create" id="taiga-url-create" checked>
            {{/if}}
            <label class="label" for="taiga-url-create" id="create-taige-url">Add connector</label>

          </div>
        </div>
      </div>

      <div class="form-actions">
        <button class="button primary arrow-right block">Login</button>
        <a href="/" class="link">Lost your password?</a>

      </div>

    </form>

  </div>

</template>
