<template name="login">

  <form id="login-form" class="login-form">

    <p>{{ errorMessage }}</p>

    <div class="form-item logo" style="background-image: url('/logo.svg');"></div>

    <div class="form-item">
      <input type="text" name="name" placeholder="Username or email">
    </div>

    <div class="form-item">
      <input type="password" name="password" placeholder="Password">
    </div>

    <div class="form-item radios-as-select less-visually-important">
      <div class="form-item-inner">
        {{#each instances}}
        <div class="radio-option">
          <input type="radio" name="taiga-url" value="{{ url }}" id="taiga-url-{{ _id }}" {{ first(@index) }}>
          <label class="label" for="taiga-url-{{ _id }}"><img class="favicon" src="{{ favIcon }}"><span class="instance-name">{{ name }}</span>
            {{#unless name = 'https://api.taiga.io/api/v1' }}<a class="delete-taiga-instance" href="#">Delete taiga instance</a>{{/unless}}
          </label>
        </div>
        {{/each}}

        <div class="radio-option">
          {{#if instances }}
            <input type="radio" name="taiga-url" value="create" id="taiga-url-create">
          {{ else }}
            <input type="radio" name="taiga-url" value="create" id="taiga-url-create" checked>
          {{/if}}
          <label class="label" for="taiga-url-create" id="create-taige-url">Add a new taiga instance</label>

        </div>
      </div>
    </div>

    <div class="form-item">
      <button class="button primary arrow-right block">Login <span class="arrow"></span></button>
      <input type="submit" class="hidden">
    </div>

  </form>

</template>
